* {
    box-sizing: border-box;
}

body {
    font: normal 16px Helvetica, Arial, sans-serif;
}

h1 {
    font: normal 21px Helvetica, Arial;
    color: $color-headline;
}

section {
    header {
        border: 2px solid lightblue;
        h2 {
            color: green;
        }
        p {
            color: blue;
        }
    }
}